@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 18, 32, 55;
  --primary: 59, 90, 255;
  --heading-text: 14, 24, 41;
  --para-text: 63, 63, 70;
  --subtitle: 166, 179, 200;
  --secondary: 82, 82, 91;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
